{% extends 'silsite/base.html' %}

{% block content2 %}
    <a href = "{% url 'new_project' %}">New project</a>
{% endblock %}

{% block content %}

    <div class="content">
        <p class="content-description">Зарегистрированные проекты</p>
        <table class="project-table">
            <thead>
                <tr class="project-table-header">
                    <td>Название проекта</td>
                    <td>Научный руководитель</td>
                </tr>
            </thead>
            <tbody>
                {% if projects %}
                    {% for project in projects %}
                        <tr>
                            <td><a href="projects/project/{{ project.id }}/">{{ project.name }}</a></td>
                            <td><a href="/user/{{ project.teacher}}/">{{ project.teacher.last_name }} {{ project.teacher.first_name }}</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>Здесь пусто</td><td></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
